.CurrentScoresBox {
    height: 80px;
    width: 100px;
    background-color: rgb(218, 142, 83);
    text-align: center; 
    box-shadow: 2px 2px 2px grey;
    border-radius: 8px;
}

.CurrentScoresBox h2 {
    margin-top: 10px;
    font-size: 18px;
}

.CurrentScoresBox p {
    color: white;
    margin-top: 15px;
    font-size: 18px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

