.DiceActionButtons button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    text-shadow: 2px 2px 2px rgb(228, 141, 141);
    font-weight: bolder;
    color: rgb(255, 0, 0)
}

