* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  height: 100vh;
  margin: 0;
  background: #e8f4f3;
  background-image:
    radial-gradient(circle at 20% 50%, #b2dfdb 0%, transparent 50%),
    radial-gradient(circle at 80% 50%, #ffccbc 0%, transparent 50%);
  min-height: 100vh;
}

.container {
  background: linear-gradient(
    to Left,
    rgb(144, 228, 229) 50%,
    rgb(227, 224, 224) 50%
  );
  height: 600px;
  width: 900px;
  border: 2px solid black;
  box-shadow: 5px 5px 2px rgb(50, 49, 49);
}

.Players {
  display: flex;
  justify-content: space-around;
}

.CurrentScores {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}

#root {
  display: flex;
  justify-content: center;
  margin-top: 85px;
}

.DiceButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  margin-bottom: 30px;
}

.MiscButtons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  cursor: pointer;
}

.winnerPopUp {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgb(104, 229, 216);
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
   transform: translate(-50%, -50%);
}

.winnerPopUp button {
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  background-color: rgb(55, 55, 116);
  color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 2px 2px 2px grey;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  margin-top: 20px;
}